<body class="bg-body-tertiary">
    
    <div class="container">
      <main>
        <div class="py-5 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
              </svg>
          <h2>Zimmerformular</h2>
        </div>
    
        <div class="row g-5">
          <!-- Employee Add/Update Form -->
          <div class="col-md-12 col-lg-12">
            <form [formGroup]="roomAddUpdateForm" class="needs-validation">
              <div class="row g-3 mb-3">

                <div class="col-md-5">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="101" [(ngModel)]="name">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>
    
                <div class="col-md-4">
                    <label for="floor" class="form-label">Stock</label>
                    <input type="text" class="form-control" id="floor" formControlName="floor" placeholder="1" [(ngModel)]="floor">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="price" class="form-label">Preis</label>
                    <input type="text" class="form-control" id="price" formControlName="price" placeholder="100" [(ngModel)]="price">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

              </div>
    
              <div class="nav col-md-12 justify-content-center list-unstyled d-flex">
                  <div class="col-sm-2" *ngIf="roomId==null">
                    <button  class="w-100 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addRoom()">Add</button>
                  </div>
                  <div class="col-sm-2" *ngIf="roomId>0">
                    <button  class="w-100 btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateRoom()">Update</button>
                  </div>
                  <div class="col-sm-2 ms-2">
                    <a href="/rooms" class="w-100 btn btn-danger">Cancel</a>
                  </div>
              </div>
    
            </form>
    
    
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Zimmermanagement</h1>
                    <button *ngIf="errorMessage" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div *ngIf="successMessage" class="modal-body alert alert-success" role="alert">
                    <a>{{successMessage}}</a>
                  </div>
                  <div *ngIf="errorMessage" class="modal-body alert alert-danger" role="alert">
                    <a>{{errorMessage}}</a>
                  </div>
                  <div class="modal-footer">
                    <button *ngIf="errorMessage" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <a href="/rooms" class="btn btn-warning">Zimmerliste</a>
                    <a href="/room/add" class="btn btn-primary">Neues Zimmer</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->
    
          </div>
          <!-- END Employee Add/Update Form -->
    
        </div>
      </main>
    </div>
    </body>