<body class="bg-body-tertiary">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                    <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                </svg>
                <h2>Zimmerformular</h2>
            </div>
    
            <div class="row g-5">
                <!-- Customer Details/Update Status Form -->
                <div class="col-md-12 col-lg-12">
                    <form class="needs-validation">
                        <div class="row g-3 mb-3">

                            <div class="col-sm-3">
                                <div class="input-group mb-3 col-sm-6">
                                    <span class="input-group-text" id="basic-addon1">Zimmer-ID</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{roomId}}" readonly>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group mb-3 col-sm-6">
                                    <span class="input-group-text" id="basic-addon1">Zimmer</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{name}}" readonly>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group mb-3 col-sm-6">
                                    <span class="input-group-text" id="basic-addon1">Stockwerk</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{floor}}" readonly>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group mb-3 col-sm-6">
                                    <span class="input-group-text" id="basic-addon1">Preis</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{price}}" readonly>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="input-group mb-3 col-sm-6">
                                    <span class="input-group-text" id="basic-addon1">Status</span>
                                    <input *ngIf="isActive; else passive" type="text" class="form-control" aria-describedby="basic-addon1" value="Aktiv" readonly>
                                    <ng-template #passive><input type="text" class="form-control" aria-describedby="basic-addon1" value="Passiv" readonly></ng-template>
                                </div>
                            </div>

                            <!-- END Employee Add/Update Form -->

                            <div class="col-sm-2">
                                <button *ngIf="isActive; else activeButoon" class="w-100 btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="makeCustomerPassive(roomId)">Passiv machen</button>
                                <ng-template #activeButoon><button class="w-100 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="makeCustomerActive(roomId)">Aktiv machen</button></ng-template>
                            </div>
                    
                        </div>
                    </form>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Zimmer Management</h1>
                                    <button *ngIf="errorMessage" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body alert" role="alert">
                                    <h6 *ngIf="successMessage; else errorMessage" class="text-success">{{successMessage}}</h6>
                                    <ng-template #errorMessage><h6 class="text-danger">{{errorMessage}}</h6></ng-template>
                                </div>
                                <div class="modal-footer">
                                    <a href="/room/details?roomId={{roomId}}" class="btn btn-secondary">Schließen</a>
                                    <a href="/rooms" class="btn btn-warning">Zimmer</a>
                                    <a href="/room/add" class="btn btn-primary">Neues Zimmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
        
                </div>
            </div>
        </main>
    </div>
</body>