<body class="bg-body-tertiary">
    
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" fill="currentColor" class="bd-placeholder-img rounded-circle bi bi-bookmarks" viewBox="0 0 16 16">
            <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
            <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
          </svg>
          <h2>Buchungsformular</h2>
        </div>
    
        <div class="row g-5">
          <!-- Employee Add/Update Form -->
          <div class="col-md-12 col-lg-12">
            <form [formGroup]="bookingUpdateForm" class="needs-validation">
              <div class="row g-3 mb-3">

                <div class="col-md-6">
                    <label for="customerName" class="form-label">Gast</label>
                    <input type="text" class="form-control" id="customerName" formControlName="customerName" value="{{customerName}}" readonly>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="roomId" class="form-label">Zimmer</label>
                    <select class="form-select" formControlName="roomId" [(ngModel)]="roomId">
                      <option *ngFor="let room of activeRooms" [ngValue]="room.id">{{room.name}}</option>
                    </select>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="roomPrice" class="form-label">Zimmerpreis</label>
                    <input type="text" class="form-control" id="roomPrice" formControlName="roomPrice" value="{{roomPrice}}" readonly>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="discountRate" class="form-label">Diskontsatz</label>
                    <input type="text" class="form-control" id="discountRate" formControlName="discountRate" [(ngModel)]="discountRate">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="discountedPrice" class="form-label">Herabgesetzter Preis</label>
                    <input type="text" class="form-control" id="discountedPrice" formControlName="discountedPrice" value="{{discountedPrice}}" readonly>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="debt" class="form-label">Schulden</label>
                    <input type="text" class="form-control" id="debt" formControlName="debt" value="{{debt}}">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="payment" class="form-label">Zahlung</label>
                    <input type="text" class="form-control" id="payment" formControlName="payment" [(ngModel)]="payment">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="checkInDate" class="form-label">Check-In Datum</label>
                    <input type="text" class="form-control" id="checkInDate" formControlName="checkInDate" placeholder="2023-09-29" [(ngModel)]="checkInDate">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>
    
                <div class="col-md-6">
                    <label for="checkOutDate" class="form-label">Check-Out Datum</label>
                    <input type="text" class="form-control" id="checkOutDate" formControlName="checkOutDate" placeholder="2023-09-30" [(ngModel)]="checkOutDate">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                </div>
              </div>
    
              <div class="nav col-md-12 justify-content-center list-unstyled d-flex">
                  <div class="col-sm-2" *ngIf="customerId>0">
                    <button  class="w-100 btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateBooking()">Update</button>
                  </div>
                  <div class="col-sm-2 ms-2">
                    <a href="/bookings" class="w-100 btn btn-danger">Cancel</a>
                  </div>
              </div>
    
            </form>
    
    
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Buchung Management</h1>
                    <button *ngIf="errorMessage" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div *ngIf="successMessage" class="modal-body alert alert-success" role="alert">
                    <a>{{successMessage}}</a>
                  </div>
                  <div *ngIf="errorMessage" class="modal-body alert alert-danger" role="alert">
                    <a>{{errorMessage}}</a>
                  </div>
                  <div class="modal-footer">
                    <button *ngIf="errorMessage" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <a href="/bookings" class="btn btn-warning">Buchungen</a>
                    <a href="/booking/add" class="btn btn-primary">Neue Buchung</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->
    
          </div>
          <!-- END Employee Add/Update Form -->
    
        </div>
      </main>
    </div>
    </body>